<div id="<%= dom_id video %>">
  <p>
    <strong>Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= video.youtube_id %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= video.article_id %>
  </p>

</div>
