<div id="<%= dom_id app %>">
  <p>
    <strong>Title:</strong>
    <%= app.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= app.description %>
  </p>

  <p>
    <strong>Settings:</strong>
    <%= app.settings %>
  </p>

</div>
