<div id="<%= dom_id region %>">
  <p>
    <strong>Title:</strong>
    <%= region.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= region.description %>
  </p>

  <p>
    <strong>Settings:</strong>
    <%= region.settings %>
  </p>

</div>
